.header {
  display: flex;
  padding: 3rem 0;
}

.nav {
  /* display: none; */
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.2rem;
}

.controlGroup {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
}

.lightControl {
  display: none;
}

.hamburger {
  display: none;
  z-index: 3;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav {
    display: none;
  }
}
