/* Global Style Variables */
:root {
}

/* Utility classes */
.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  text-decoration: underline;
}
.hide {
  display: none;
}

html {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  width: 80%;
  margin: auto;

  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Libre Baskerville", serif;
}

h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
}
